

<h1>Pacientes</h1>


<% if current_user.present? %>
  <!--Botão para editar-->  
  <%= link_to new_paciente_path,
  :class => 'btn-floating btn-large deep-orange lighten-1 waves-effect waves-light btn white-text' do %>
  <i class="fa fa-plus left"></i>Novo
  <% end %>
  <!--Fim do botão editar-->
<% end%>
  
    
<div class="row"> 
    
      
        <% @pacientes.each do |paciente| %>

        
        <div class="col s12 m6 l4">

          <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
               <%= image_tag('/uploads/'+File.basename(paciente.image_url(:pequeno)))%>
              </div>

              <div class="card-content">
                
                  <span class="card-title activator grey-text text-darken-5"><%= paciente.nome %></span><br>
                  
                  
<% unless current_user.present? %> 
                   <!--Botão para mostrar-->  
          <%= link_to paciente, :class => 'waves-effect waves-light btn white-text small' do %>
              <i class="fa fa-search"></i>
          <% end %>
          <!--Fim do botão mostrar-->
          <% else %>

 <% end %>

    <% if current_user.present? %>          
          &nbsp;
          <!--Botão para editar-->  
          <%= link_to edit_paciente_path(paciente), :class => 'waves-effect waves-light btn white-text small' do %>
              <i class="fa fa-pencil"></i>
          <% end %>
          <!--Fim do botão editar-->
          &nbsp;


          <!--Botão para excluir-->  
          <%= link_to paciente, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'waves-effect waves-light btn red white-text small' do %>
              <i class="fa fa-remove"></i>
          <% end %>
          <!--Fim do botão excluir-->
    <% end %>





                  

              </div>
          </div>
    

       
        </div>
        
        <% end %>
       
          </div>  
